<% if(isAuth){ %>
<div class="wirte">
    <button class="writebt" onclick = "location.href = '/request-personer/write'">
        <i class="fa-solid fa-pencil fa-mar"></i> <% if(path==='/gallery'){ %>쓰기<% } else { %>의뢰하기<% } %>
    </button>
</div>
<% } %>