<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="single-blog">
        <div class="blog-content box_right">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="blog-meta">
                    <div class="glbox">
                        <div class="tags">
                            <div class="blog-tags">
                                <ul>
                                    <li><a class="recruit">모집중</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tags">
                            <div class="blog-tags">
                                <ul>
                                    <li><a class="indi">개인</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tags">
                            <div class="blog-tags">
                                <ul>
                                    <li><a class="deve">개발</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="box_left_center">
                        <a href="/request-personer/<%= post._id %>">
                            <h4><%= post.title %></h4>
                        </a>
                        <div>
                            <span class="amount-type">
                                <i class="fa-solid fa-won-sign"></i>
                                예상금액
                            </span>
                            <span class="amount-type">
                                400만원 ~ 500만원
                            </span>
                        </div>
                        <div>
                            <span class="period-type">
                                <i class="fa-regular fa-clock"></i>
                                예상기간
                            </span>
                            <span class="period-type">
                                1개월
                            </span>
                        </div>
                        <div>
                            프로젝트 개요 : 당사는 오픈 메타버스 플랫폼을 개발하고 있습니다....
                        </div>
                    </div>

                    <div class="glbox">
                        <div class="tags">
                            <div class="blog-tags">
                                <ul>
                                    <li><a class="outsourcing">외주</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pipe"></div>
                        <div class="posi">
                            <span class="position-type">
                                <i class="fa-solid fa-location-dot"></i>
                                서울
                            </span>
                        </div>
                        <div class="pipe"></div>
                        <div class="dat">  
                            <span class="date1-type">
                                <i class="fa fa-calendar"></i>
                                <span>
                                    등록일자 
                                </span>
                                <%= post.date %>
                            </span>
                        </div>
                    </div>
                    <!-- <div class="tags">
                        <div class="blog-tags">
                            <ul>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Agency </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="payment">
                        200.000
                        <span>원</span>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 box_right_po">
                <div class="blog-meta">
                    <div>
                        <span class="deadline-type">
                            <i class="fa-regular fa-hourglass-half"></i>
                            마감 2주 전
                        </span>
                    </div>
                    <div>
                        <span class="number-type">
                            <i class="fa-regular fa-user"></i>
                            총 <div>1</div>명 지원
                        </span>
                    </div>
                    <div>
                        <span class="heart-type">
                            <i class="fa-regular fa-heart"></i>
                            2
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>