<div class="row dropdown-write">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle range" type="button" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            정렬
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu range" aria-labelledby="dropdownMenu3">
            <li><a href="#">최신순</a></li>
            <li class="dropdown-header">추천순</li>
            <li><a href="#">최근 7일</a></li>
            <li><a href="#">최근 30일</a></li>
            <li><a href="#">전체 기간</a></li>
        </ul>
    </div>