<div class="row dropdown-write">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle range" type="button" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            정렬
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu range" aria-labelledby="dropdownMenu3">
            <li><a href="#">최신순</a></li>
            <li class="dropdown-header">추천순</li>
            <li><a href="#">최근 7일</a></li>
            <li><a href="#">최근 30일</a></li>
            <li><a href="#">전체 기간</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle method" type="button" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            진행 방식
            <span class="selectcolor method"> 전체</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu method" aria-labelledby="dropdownMenu3">
            <li><a href="#">전체</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="#">외주</a></li>
            <li><a href="#">상주(기간제)</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle cate" type="button" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            카테고리
            <span class="selectcolor cate"> 전체</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu cate" aria-labelledby="dropdownMenu3">
            <li><a href="#">전체</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="#">개발</a></li>
            <li><a href="#">디자인</a></li>
            <li><a href="#">기획</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle reg" type="button" id="dropdownMenu1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            지역검색
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu reg scrollable-menu" aria-labelledby="dropdownMenu3">
            <li><a href="#">서울</a></li>
            <li><a href="#">부산</a></li>
            <li><a href="#">대구</a></li>
            <li><a href="#">인천</a></li>
            <li><a href="#">광주</a></li>
            <li><a href="#">대전</a></li>
            <li><a href="#">울산</a></li>
            <li><a href="#">세종</a></li>
            <li><a href="#">경기</a></li>
            <li><a href="#">강원</a></li>
            <li><a href="#">충북</a></li>
            <li><a href="#">충남</a></li>
            <li><a href="#">전북</a></li>
            <li><a href="#">전남</a></li>
            <li><a href="#">경북</a></li>
            <li><a href="#">경남</a></li>
            <li><a href="#">제주</a></li>
            <li><a href="#">해외</a></li>
        </ul>
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              예상금액
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="dropdown Selectamount">
                    <button class="btn btn-default dropdown-toggle more" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        금액선택
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu more" aria-labelledby="dropdownMenu3">
                        <li><a href="#">100만 원</a></li>
                        <li><a href="#">200만 원</a></li>
                        <li><a href="#">300만 원</a></li>
                        <li><a href="#">400만 원</a></li>
                    </ul>
                </div>
                <div class="lab">이상</div>
                <div class="dropdown Selectamount">
                    <button class="btn btn-default dropdown-toggle less" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        금액선택
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu less" aria-labelledby="dropdownMenu3">
                        <li><a href="#">100만 원</a></li>
                        <li><a href="#">200만 원</a></li>
                        <li><a href="#">300만 원</a></li>
                        <li><a href="#">400만 원</a></li>
                    </ul>
                </div>
                <div class="lab">이하</div>
            </div>
          </div>
        </div>
      </div>
      